/* navigation bar */
.nav-bar{
    height: 500px;
    width: 1000px;
}

/* state departments */
#state-dpt{
    height: 100px;
    width: 100px;
    display: inline-grid;
    grid-gap: 15px;
    background-size: cover;
}

#tittle2 {
  width: 100%;
  height: 100px;
  border-style: solid;
  border-color: black;
  color: #ee6c4d;
  margin-top: -50px;
  width: auto;
}

.form {
  width : 1000px;
  height: 100px;
}


#Submit {
  width: 350px;
  height: 80px;
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.questionBox {
  width: 100%;
  height: 163px;
  background-color: #9CB380;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
}

.center {
  margin: auto;
  padding: 10px;
}

.Yes {
  width: 40%;
  height: 45px;
  margin-left: 30%;
}

.No {
  width: 40%;
  height: 45px;
  margin-left: 30%;
}

.islandAnswer {
  width: 40%;
  height: 28px;
  margin-left: 30%;
}

.genderAnswer {
  width: 40%;
  height: 35px;
  margin-left: 30%;
}

#Header {
  width: 100%;
  height: 70px;
  background-color: #A44A3F;
  margin-top: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.questionSent {
  text-align: center;
  width: 39%;
  height: 43px;
  color: #ffffff;
  background-color: #94A89A;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}s